:root {
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #A45BC9 50%, #5A71D3 50%);
  --vp-home-hero-image-filter: blur(90px);
  --vp-home-hero-name-background: linear-gradient(-45deg, #A45BC9, #5A71D3);
  --vp-home-hero-name-color: transparent;
  --vp-c-brand-1:hsl(229, 58%, 59%);/*#8F5BC9;*/
  --vp-c-brand-2:#A45BC9;/*#7760B6*/
  --vp-c-brand-3:hwb(229 35% 17%);
}

@media (min-width: 960px) {
  div.VPHome div.VPHomeHero div.VPHero.has-image div.container div.image div.image-container img.image-src{
  max-width: 450px!important;
  }
}
